<%= form_with(model: user) do |f| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :nickname, style: "display: block" %>
    <%= f.text_field :nickname %>
  </div>

  <div>
    <%= f.label :age, style: "display: block" %>
    <%= f.number_field :age %>
  </div>

  <div>
    <%= f.label :avatar, style: "display: block " %>
    <%= f.file_field :avatar, id: :user_img %>

    <div id="new-image"></div>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
